/* epic hacks to get my site displaying acceptably on all browsers*/



/* webkit */
.webkit1
{
	padding-left:45px;
}

/* firefox */
.firefox1
{
		position: absolute; 
		margin-top:115px; 
		padding-left:38px;
}
.firefox2 
{
	margin-top: 220px  ;
}
.firefox3 
{
	margin-top: 620px  ;
}
/* now time for */
/* INTERNET EXPLORERRRRRRRRRRRRRRRRR */
/*
@@@@@+'#@#@+,+';+#:'+#@@@@@@#:@+@+@##@#+:`.#',''``.`.+@@@##;.,@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@;`@@@@@#@@@@@#@;;@;+@@'+@@''+,+#@@@@:;#'@@@;;@++@@@@@@@@@+'::'@@@@@@@;;'@';@@@@@@;@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@'+#@:#@#:`;@'+@'#@:@####:;+#@@@+#@@@@@@@@@@@@@@@@#+@@@''#;@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@;@'@@;#@@#++.;;;+#@#:@+#'.':@+@@@@@@@@@@@@@@@@@@@@@@@@#;#+@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@   ,:,.;+:'@;+#'#:;,;#+@##@@;;#,@@@@@@@#@#+@@@@+@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@''@@@@@+:'';:#@#+@#,.'''++';@''+;+,''@;@@@@@@@@#@@@@@+@'+@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:@@@@@@@@@@@@;','@;   +'':,:#,'''@;:+:,#'@@#@;'''##@@@@@+@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#     ,;@+@@@#@#;,``  ``:.:   ::;'@;@:#:@#@'++;@@#@:#:;+#@@@##@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@+.++@+;#@'@@'@#@@@# .,..`  ,;,:':+@@#@@@@+##:;@@@#;'@@####@@@@@#+@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@`;'#@@@:;@` #@#@#@#@``.'+;.  `:,#:`:#@@@@@@@##;@@+;;##.@@@+@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @; ` ..@' @`@@@@#@' :``::,.     `.;''##@@@#+@#@@,;@#+#@@@@@@@;@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@.#@`: .. :`@ #.@'@;`; ``:  `.,,;:. @@@@@@@@@@@@@@@#,+.`;##@@@#@'@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@;+`:`;` ` ;#':@#@`,:'.  `.;+;;''@@#@@@@@@@@@@@@@@@@@,;+###+@#'##+@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@#+#.;@@@ ;:.@;'+@;#+@; .::;+;,.:@#++::'@@:##;@@;@@@@@+#  : @#@#@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@+`;@#@@@@,'`+#,'@'`#@:  ;.``.`;+:,```#+;.: #;`: `#:#@@@@@``#  @'::@@#@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@',;;@.@@@@'``@+#@;'#.,'   `: ',,,``,.##;+@@#@#@.`.`#@@@@@@:'+'@'+@@#:'@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@;',  `:+@@@';`@:@ ;@@@@#@:   `,;.`,.`@##@@@@@@@@@@,`+;@@@@@;;;;@###@@##'@+@@@@
@@@@@@@@@@@@@@@@@@@@@@ :..`:, .'::#`@#@+@#,,   `   `   ''+,,.'@#@@@#@+#@@#'+#@@@@@+;,+@#@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@::+';` :##@@@@@@@+@@@,     `      #    ;+@#' `.::::#;@@@,.@@@@@@...:;,:;@@@#@@@@@@
@@@@@@@@@@@@@@@@@@# #:;+: ;;@@@@@@@#'@+          #.+ ' ` :.@'#;`  ` `#;`,''+#;@@@@@,..:''@@@@@#:;+`@@
@@@@@@@@@@@@@@@@@##` `    `#,,:,@@@;@` #        ` +#@; ':#:;;` . .: ;.,`,;++@@+@@@@#  `::###+@@@,##@@
@@@@@@@@@@@@@@@@@#'. `         ....;  ,@@ `     : ###: @,##+  . , ,; ::.  ++;+#`@@@@,` '@+@#@@+,+@@@@
@@@@@@@@@@@@@@@@+:                    `@@.    ` ; #@@+#@,#@,,,:: : .:``   .'#@+#.@@# .''+:+#@@#@@+@@@
@@@@@@@@@@@@@@@#+:                     ,`   .@` :`@#@'.'#'# :+@@@+, ``  :;.,##@@,#@@.,,;',''`+@@+@+@@
@@@@@@@@@@@@@@@@.                     `     ;@  :,@##@#@`'# @@@+@@@@   : .,###@#: @@:;,,;;+#@@@@@@@@@
@@@@@@@@@@@@@@'::           `  :.;;##.,    .:`  :.@@@@'@#+#`+#+@+#@@+.: :. . ##;##`.``.,'++#+@;@+.+@@
@@@@@@@@@@@@@##.    `:;,.:`..#@@@@@@@+ :':,`    `@@@+##@+'#'#+@@@@@@@+  .,:;`'### `#+:'#, +@@@@#@@@@@
@@@@@@@@@@@@@+@,  .,  ,,`++@@@@@@@@@@@;+: :+     #@@:@@#@.;@:@@@@@@@@' '  ;  :@@@++., `'#+#@@@@@@@@@@
@@@@@@@@@@@@@@# ``  : `;@@@@@@'@@@@@@@#+`:+#    `+@#@+@#+@;@@'@@@@@@@@.  :.:;:@'@+ +,+',.;;+@@+'@##@@
@@@@@@@@@@@@@@@` `:`.'@@@#@';+;;'@@#@@@@':;@    +;''@#+@@#.#@@@@@@@#;,:,.,`, ,#@@,`;#.;+#@@@@@@@@@@@@
@@@@@@@@@@@@@@@ ;,,'+#@@@+::.@, ;;'@@@@@@.,'    '@'##@+@@;@+@@@@@@@#'      ``:+#+:;;'@#+#.'@##@@':@@@
@@@@@@@@@@@@@@#  `''::#.;,`';`. ,.::@@'@@@'+.   `.,'@@'@@+@; @@#@@@`:``.` `;.+#+@#,.;'+@@@@@+@@:`:@@@
@@@@@@@@@@@@@@' ,.;.;:#  .:';; ,,::`@;+@@@+#,   ' ``'+'@@+:@ @@.@' .:`.  .,,`@#@@'+..#;'#@'+@@#;@#@@@
@@@@@@@@@@@@@@.::':;:#@@@@@@@@@'` ;'..'+@@#;.    :;,;@.+@+;@@#+##@#@'.+:` ',;@+#@:,;+'.+:;'@@#@@;@@@@
@@@@@@@@@@@@@@,,+::,#@@@@@@@@@@@@+:.+',;@@@#`    ''#,#;.@@#@@:@@''@@+@;,.,'@@@+#,'@'+:':;@@@@++';;@@@
@@@@@@@@@@@@@';,`;  @@@@@@@@@@@@'@@@, . +@@#`.   '@#,:;.@@#@#@@@@:#@#@@@#++';##'.'.   ;.'@;'';@@+#@@@
@@@@@@@@@@@@@#+:''+@@@@@@@@@:@@@@@@'@.:; #@@.,   ,`':,:++@##.;#',#@'@@###+:'+';@#:;##@@#@@;@''+:;#@@@
@@@@@@@@@@@@@ :. .#+:@@@@#@@@@#@@@@@@@#` ,@@:' ; #';'::;@@@#;#@#;@';''@'@@@'@++.'#'@#,``@;+@@#+#+@@@@
@@@@@@@@@@@. ' +;` ,@';#@;,@@,#@@@@@@@@@+`@@#+ ; ,#`;'::''@@ @`,#;;#'##+@#@''+:::+,'+:,+:.,.+;;;@@@@@
@@@@@@@@@#      `:` +;##'+'+;;;',.,@@@#+@+#@@' ;,:;:+,' ,+@##;+@+;#'#@@@;#+@#;;##;@'#'':,:@@@@@@@@@@@
@@@@@@@@         , .+;##@@+'+:,'';: ;'@@@@@@@@ +##`;':+;.@;+'':+#,,;@@+@+@@;+',:':'+';:#+:@#@@@@@@@@@
@@@@@@;.        ,.:. `.+'@@@;`;;'@''`,@@@@@@@@``+;:'`+.,.' ++'#@+;,;;'''#';;:,@'##+,.'@,,@++@@@@@@@@@
@@@@@@;          `;::',,.;,+##+;+##;# ;+@@@@@@@;;+,::  :#`@#;:@@@@@+@;;:':' :; ;, @++@',#:;#@@@@@@@@@
@@@@@`.           .:;:,'#:' ;++@+#@+''@;'@@'@@##'+;;:  +;+',:',;  +;;,'+:+,#;+':@@@@#:;@;@@@@@@@@@@@@
@@@@@#                 .:+#@+##@@@@@@@+#@@@@@@;++#',::'@+@+,+,,:`':+;++:;:#,';+#@#@@+@@+@@@@@@@@@@@@@
@@@@@   :.                ::. . .;''++;#@'@#,; ;;+,,,  @+'+;.':';;;;`,.;`' ', :'##@@   ;++@@@@@@@@@@@
@@@@' `.,',,.' '             ```;+''+''@''+'@@',:...,,#++#'.': `,:::,+#+'.,,.;;:.;#@@@@::@@@'@@@@@@@@
@@@@,',+. `:. '                 `   `::;+@:'` +,:   #;##:+;+,,:;,.  +` `,:;.;;@+'#@+@@@+#@@@+@@@@@@@@
@@@, ;.:'  #  '    #                    .:;,,;'+.:;.,@@+:+.;..:++;;';.,``,;',.,#@@@@@+;;@#:`#@@@@@@@@
@@@ ;:,   .: ``   ,                         `#:``.;,,@@:,;;.`:''';'+':@@.:`.'',;#@@@@@@@@@;#@@@@@@@@@
@@,``  `#; ` '    .                     ` . ,;. .'  +'.::.'+@.'+.`';;+@+#@@@@##+#@#@@#@@,.`+@;@@@@@@@
@@ ,:.; ,.'  +   @    ,,        `     `  :`,+:`   `.+:.` `++:'#+@.';+###:`'''#,.:,` +@@#''@##@@@@@@@@
@@  ,#@@@@# +@@@@@@@@'. '@@@@@#'`;@@@@@@#+@@@@@#;@@@@@@##@@##@@@@#@@@@@@@@#@@@@#@@@@@@@@@@@@@@@@@@@@@
@@ .@;    @@@   +,  `@  @`   `.+@#.     @@     @;+   ``;@#+,@.  .@@@,    @@.  ,@   ,@   @,   ``;@@@@@
@@`#'      @@   +,   @  @       ;@.     @@     @++      :@''@.  .@+@.    '@:  .@   .@   @.      ,@@@@
@@`@   '`  ,@   +.   @  @   :.   @.   ``@@     @#+   '   @@+@.  .@+@     .@+  `@    @   @.  `:   @@@@
@@;@   @.  .@   +.   @  @   ;+   @.  .@@#@  ,  @++   @   @''@.  .#'@      @@   @    @   @.  .@   @@@@
@@@@   @.  .@   '.   @  @   ;+   @.  .@@@;  +  ;#+   @   @+#@.  .@.@      @@   +    @   @.  .@   @@@@
@@@@   @.  .@        @ ;@   ;+   @.    `@.  #  .@+      .@@;@.  .@'@  .   @@   ;    '   @.  .@   @@@@
@@@@   @.  .@        @. @   ;+   @.    .@   @   @+     `@#`+@.  .@+@  ,.  @@   ,    :  .@.  .@   @@@@
@@#@   @.  .@   :.   @: @   ;+   @.  .''@   @   @+   @   @+;@.  .@@;  '.  @@   . .  .  :@.  .@   @@@@
@@#@   @.  .@   +.   @  @   ;+   @.  .@+@   `   @+   @   @@@@.  .@@.  ``  ;@.    ;  `  +@.  .@   @@@@
@@#@   @.  .@   +.   @':@   ;+   @.  .@@@       @+   @   @#@@.  .@@`      .@.    #     @@.  .@   @@@@
@@#@   +.  ,@   +.   @.'@   :`   @.   ``@   :   ++   @   @;+@.   `,   ,,   @;    @.    @@.  .,   @@@@
@@##+      @@   +.   @` @       .@.     +   @   :+   @   @`'@.    ,   @@   @#    @+    @@.       @@@@
@@#`@+    #@@   +,  `@;;@     `:@@.     :   @.  .+   @   @@@#.    .   @@   @@    @@    @@,     ,@@@@@
@@# `#@@@@#:'@@@@@@@@'``'@@@@@@@'#@@@@@@@@@@#@@@@@@@@@@@@@#;+@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@     ` `'#''#+`:'.+,#@+,;:';;;:: +` :`.:;+#''++##;#:.@@+'@,+@++@@@@@;+@#@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@ ,   +++, `+  .##:,` `.';,''@#+`...#;:`''''+'+##+##@@@+:``@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@ ,        ' '''#;;;;@;@,,+@#:,,@#;@@@@,.;:,; ` ,```: .`,#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@'    +#, '#@:`#::;+:@#@##. `##@##,    `;@'#`,,,;;+@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@@
@@@      `,@#@#;```,@@#; `;@@@@@##;:;+#@. #`:::':'':`@@@@@@@@@@@@@@@@@@@@@@@@@@@@+':+':+;;#:';;#;@;;+
@@@####@@##@@@@@@@@@@@@@@@@####@@@@@@@@@@@####@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
/* mhm, ikr */
/* BUT WHYYYYYYYYY? o_0 */
/* BECOS OM NOMS, KAY? */
.IE1{
	align: right;
	padding-bottom: 20px;
}
.IE2{
	padding-top: 55px;
	position: absolute;
}
.IE3{
	margin-top: 32%; 
}
.IE4{
	padding-bottom: 15px;
	padding-top: 10px;
}
.IE5{
	position: block;
	margin-top: -27%;
}
.IE6{
	position: absolute;
	margin-top: -42%;
}
.IE7{
	padding-bottom:-17%;
}
.IE8{
	padding-left: 40%;
	font-size: 16px;
	padding-bottom: 25px;
}
.IE9{
	padding-left:35px;
	padding-top: 15px;
}
.IE10{
	position: absolute;
	margin-top: -290px;
	margin-left: 429px;
	width: 150px;
	color: black;
	font-weight: bold;
}
.IE11{
	padding-top: 75px;
	line-height: 25px;
}
.IE12{
	position: absolute;
	margin-top: -220px;
	margin-left: 429px;
	width: 150px;
	color: black;
	font-weight: bold;
}
.IE13{
	padding-left: 35%;
	font-size: 16px;
	padding-bottom: 25px;
	padding-top: 25px;
}
.IE14{
	position: absolute;
	margin-top: -220px;
	margin-left: 429px;
	width: 150px;
	color: black;
	font-weight: bold;
	text-align: center;
}
.IE15{
	margin-top: 20px;
	padding: 30px 0 0 0;
	padding-bottom: -20px;
}
.IE15 h1 a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 2px 3px #DDD;
	font-size: 30px;
	line-height: 36px;
}
.IE15 h2 {
	color: #777;
	clear: right;
	float: right;
	font-style: italic;
	margin: 14px 0 18px 0;
	width: 220px;
	text-shadow: 0px 2px 3px #DDD;
	margin-top: -20px;
}
.IE16{
	border-top: 4px solid #DDD;
	margin-top: -4px;
	padding: 18px 0;
	overflow: hidden;
	text-align: right;
}
.IE17{
	
	padding: 30px 0 0 0;
	
}
.IE17 h1 a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 2px 3px #DDD;
	font-size: 30px;
	line-height: 36px;
}
.IE17 h2 {
	color: #777;
	clear: right;
	float: right;
	font-style: italic;
	margin: 14px 0 18px 0;
	width: 220px;
	text-shadow: 0px 2px 3px #DDD;
	margin-top: -20px;
}
/* IE, you are now my bitch. */