@charset "UTF-8";
/* The font size is set to 62.5% which (initially) sets the value of 1em to 10px. In most cases this makes figuring the font size relatively easy: number of ems times 10 equal number of pixels. Of course if you set the font-size for a div, the calculation for objexts within that div will be different  */
body {
	font: 62.5%/1.4 Verdana, Arial, Helvetica, sans-serif;
	
	margin: 0;
	
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
/* The padding and margin for lists within the mainContent and trifold regions are set here  */
.mainContent ul, .mainContent ol, .mainContent dl, .trifold ul, .trifold ol, .trifold dl { 
	padding: 0;
	margin: 0 0 0 36px;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0 18px .5em; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a {
	color: #00F;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #666;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	color: #FFF;
}
/* CONTAINER 
A fixed width container contains and gives with and centering to the layout */
.container {
	width: 960px;
	margin: 0 auto;
	border:#CCC
}
/* HEADER: 
The header extends the width of the .container div. If you replace the existing headline with a logo image, you may need to delete or adjust the padding. ~~ */
.header {
	padding: 1.5em;
	margin: 0px;
}
/* for SEO pruposes you should have only 1 h1 tag per page. So I'm giving you the option to use either an h1 or h2 in the header (I used h2) */
.header h1, .header h2 {
	padding: 0px;
	margin: 0px;
	color: #33C;
	text-align: right;
	font-size: 4em;
}
/* HORIZONTAL MENU 
The horizontal menu is a specially styled unordered list place in a div with the style class menuHorizontalDiv applied. You can select the entire div and copy and paste the menu to a new location */
.menuHorizontalDiv {
	border-top: 4px ;
}
.menuHorizontalDiv ul {
	font-weight: bold;
	text-align: center;
	list-style: none;
	font-size: 1.2em;
}
/* The width of each menu item is set here.For best results it should be adjusted if you add or delete menu items.
For 4 menu items set the width to 25%
For 5 menu items set the width to 20%
For 6 menu items set teh width to 160px
DO NOT EDIT THE FLOAT PROPERTY! It will break your menu.
DO NOT PADDING, MARGINS OR BORDERS to this style rule!It will break your menu. */
.menuHorizontalDiv li {
	width: 160px;
	float: left;
}
/* This is the rule that make your menu items look like buttons. The menu items will fill the width of the available space so no left or right padding is necessary */
.menuHorizontalDiv a, .menuHorizontalDiv a:visited {
	color: #333;
	
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-right: 1px ;
	text-decoration: none;
}
.menuHorizontalDiv a:hover {
	color: #333;
	
}
/* The right border separating our links looks odd on the far right of the menu. this special style class is applied to the last link in the menu to remove it */
.menuHorizontalDiv a.lastLink {
	border-right: 0px none;
}
/* FEATURE */
.feature {
	border-top: 4px;
}
/* THREE COLUMNS WITH SIDEBARS 
The 3-column layout used here uses fairly advanced CSS for positioning. I don't recommend editing it unless you know what you're doing. I'm putting together a tutorial about it. Contact me at jcook@dwcourse.com for more information.  */

/* The .threeCol div holds the three columns. Here we set the font-size to 1.4em (times 10px per em as set in the body style = 14 points) for the entire 3 column section. */
.threeCol {
	width: 100%;
	padding: 0px;
	padding: 0;
	font: 1.4em Verdana, Geneva, sans-serif;
	border-top: 4px ;
}
/* The background property here sets the color of the left sidebar */
.threeCol .leftCol {
	float:left;
	width:100%;
	position:relative;
	right:635px;
	
}
/* The background property here sets the color of the center column */
.threeCol .centerCol {
	float:left;
	width:100%;
	position:relative;
	right:145px;
	
}
/* The background property here sets the color of the right sidebar */
.threeCol .rightCol {
	float:left;
	width:100%;
	overflow:hidden;
	position:relative;
	
}
/* The "content" styles below position the content of the sidebars and main content over the colored columns we created above. */

/* The color property in this style sets the text color for the left sidebar */
.threeCol .leftSidebarContent {
	float:left;
	width:180px;
	position:relative;
	left:780px;
	overflow:hidden;
	padding-bottom: 1.5em;
	padding-top: 0em;
	color: #333;
}
/* The color property in this style sets the text color for the main content area */
.threeCol .mainContent {
	float:left;
	width:635px;
	position:relative;
	left:780px;
	overflow:hidden;
	padding-bottom: 1.5em;
	padding-top: 1em;
	color: #333;
}
/* The color property in this style sets the text color for the right sidebar */
.threeCol .rightSidebarContent {
	float:left;
	width:145px;
	position:relative;
	left:780px;
	overflow:hidden;
	padding-bottom: 1.5em;
	padding-top: 1em;
	color: #666;
	text-align: center;
}
/* VERTICAL MENU
The vertical menu is a specially styled unordered list place in a div with the style class menuVerticalDiv applied. You can select the entire div and copy and paste the menu to a new location */
/* The width of the menu is controlled by the width of it's parent container (in this case the right sidebar). */ 
.menuVerticalDiv {
	border-bottom: 4px solid #006;
}
.menuVerticalDiv ul {
	font-weight: bold;
	text-align: center;
	list-style: none;
	font-size: 1em;
}
/* This is the rule that make your menu items look like buttons. The menu items will fill the width of the available space so no left or right padding is necessary */
.menuVerticalDiv a, .menuVerticalDiv a:visited {
	color: #FFF;
	background: #F00;
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #FFF;
	text-decoration: none;
}
.menuVerticalDiv a:hover {
	color: #FFF;
	background: #00F;
}
/* TRIFOLD REGION */
/* Creates 3 equal width columns. The 3-column layout used here uses fairly advanced CSS for positioning. I don't recommend editing it unless you know what you're doing. I'm putting together a tutorial about it. Contact me at jcook@dwcourse.com for more information.  */

/* The .triFold div holds the three columns. Here we set the font-size to 1.2em (times 10px per em as set in the body style = 12 points) for the entire trifold section. */
.trifold {
	width: 100%;
	padding: 0px;
	margin: 0 auto;
	padding: 0;
	font: 1.2em Verdana, Geneva, sans-serif;
	border-top: 0px solid #333;
	background-color: #333;
}
/* leftFold provides the background color for left trifold section. */
.trifold .leftFold {
	float:left;
	width:100%;
	position:relative;
	right:33.33%;
	background: #F00;
}
/* centerFold provides the background color for middle trifold section. */
.trifold .centerFold {
	float:left;
	width:100%;
	position:relative;
	right:33.33%;
	background: #FFF;
}
/* rightFold provides the background color for right trifold section. */
.trifold .rightFold {
	float:left;
	width:100%;
	overflow:hidden;
	position:relative;
	background: #00F;
}
/* The "content" styles below position the content of the sidebars and main content over the colored columns we created above. */
.trifold .leftFoldContent {
	float:left;
	width:34%;
	position:relative;
	left:66.66%;
	overflow:hidden;
	padding-bottom: 1.5em;
	padding-top: 1em;
	color: #FFF;
}
.trifold .centerFoldContent {
	float:left;
	width:33%;
	position:relative;
	left:66%;
	overflow:hidden;
	padding-bottom: 1.5em;
	padding-top: 1em;
}
.trifold .rightFoldContent {
	float:left;
	width:33%;
	position:relative;
	left:66%;
	overflow:hidden;
	padding-bottom: 1.5em;
	padding-top: 1em;
	color: #FFF;
}
/* Trifold links */
.trifold .leftFoldContent a {
	color: #FFF;
	text-decoration: underline;
}
.trifold .leftFoldContent a:visited {
	color: #DEDEDE;
	text-decoration: underline;
}
.trifold .leftFoldContent a:hover {
	color: #CCC;
	text-decoration: underline;
}
.trifold .centerFoldContent a {
}
.trifold .centerFoldContent a:visited {
}
.trifold .centerFoldContent a:hover {
}
.trifold .rightFoldContent a {
	color: #FFF;
	text-decoration: underline;
}
.trifold .rightFoldContent a:visited {
	color: #DEDEDE;
	text-decoration: underline;
}
.trifold .rightFoldContent a:hover {
	color: #CCC;
	text-decoration: underline;
}

/* FOOTER */
.footer {
	font-size: 1.2em;
	color: #333;
	background: #FFF;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}
/* CREDIT */
.credit {
	font-size: 0.8em;
	color: #666;
	text-align: center;
}
/*MISCELLANEOUS */
.mainContent h1 {
	font-size: 1.4em;
}
.mainContent h2, .trifold h2 {
	font-size: 1.2em;
}
.mainContent h3, .trifold h3 {
	font-size: 1.0em;
}
/* FLOATS */
.floatRight {
	float: right;
	margin-left: 10px;
}
.floatRight { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 12px;
}
/* CLEAR
Applied to an empty div to clear all preceding floats (see the 3 Column and Trifold sections). */
.clear {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
/* HEADINGS
Heading sizes for the main content area and trifold region are set below. Since the value of em has been set differntly for the divs holding this content, h2 is smaller in the trifold than in the mainContent (even though the font-size in ems is the same).  */
.mainContent h1 {
	font-size: 1.4em;
}
.mainContent h2, .trifold h2 {
	font-size: 1.2em;
}
.mainContent h3, .trifold h3 {
	font-size: 1.1em;
}



a {
	color: #333;
}
#nav {
	margin: 0;
	padding: 8px 0;
	background: #33C url(img/gradient.png) repeat-x 0 -110px;
	line-height: 100%;

	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}
#nav li {
	float: left;
	position: relative;
	list-style: none;
}


/* main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  5px 9px;
	margin: 0;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
#nav a:hover {
	background: #000;
	color: #fff;
}

/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #33C url(img/gradient.png) repeat-x 0 -70px;
	color: #FFF;
	border-top: solid 1px #f8f8f8;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #0078ff url(img/gradient.png) repeat-x 0  !important;
	color: #fff !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 150px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #ddd url(img/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;	
}

/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
} 
html[xmlns] #nav {
	display: block;
}
 
* html #nav {
	height: 1%;
}
a {
	color: #666;
