# This file rewrites any url requests, so will take http://theknowledgezoo.com/learn/login and rewrite, not redirect, to http://theknowledgezoo.com/learn/learn.php?page=login

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule /?([A-Za-z0-9-]+)/?$ learn.php?page=$1 [QSA,L]
DirectoryIndex learn.php