# This file rewrites any url requests, so will take http://theknowledgezoo.com/admin/pupilmanagement and rewrite, not redirect, to http://theknowledgezoo.com/admin/index.php?page=pupilmanagement
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule /?([A-Za-z0-9-]+)/?$ index.php?page=$1 [QSA,L]
DirectoryIndex index.php